@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    padding: 0;
    margin: 0;
}

html, body {
    background-color: lightgray;
    min-height: 100vh;
}

header {
    background-color: black;
    text-align: center;
    color: white;
    padding: 50px 0px 50px 0px;
    font-family: "Passion One";
}

header > h1 {
    font-variant: small-caps;
    font-size: 4vw;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 40px;
    line-height: 2em;
    font-family: "Sriracha";
    font-size: 2vw;
}

section > p {
    padding-bottom: 1.5em;
}

.normal {
    background-color: white;
    color: black;
}

.normal > p {
    padding: 12px;
}

.imagem {
    color: white;
    background-color: darkgray;
    box-shadow: inset -0px 6px 12px rgba(0, 0, 0, 0.346);
    background-size: cover;
    background-attachment: fixed;
}

.imagem > p {
    background-color: rgba(0, 0, 0, 0.242);
    padding: 12px;
    border-radius: 12px;
    display: inline-block;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.283);
}

section#img1 {
    background-image: url(imagens/background001.jpg);
}

section#img2 {
    background-image: url(imagens/background002.jpg);
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}